<ion-content [fullscreen]="true">
  <div class="main_content_div">
    <ion-buttons slot="start" class="menu_btn" >
      <ion-icon class="titre" slot="end" name="log-in" (click)="onLogout()"></ion-icon>
      <ion-icon class="titre" slot="end" name="notifications-circle"></ion-icon>
    </ion-buttons>
    <div class="user_div">
      <div class="first_div">
        <ion-label class="username">{{userConnect?.nom_complet}}</ion-label>
        <ion-label class="info">{{userConnect?.login_user}}</ion-label>
        <ion-label class="info">{{userConnect?.tel_user}}</ion-label>
      </div>
      <ion-img class="user_back" src="{{photo}}+{{userConnect.id_user}}"></ion-img>
    </div>

    <div class="content_div">
      <div class="details">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <div class="flex_div">
                <div class="round_div">
                  <ion-icon name="hand-left"></ion-icon>
                </div>
                <div class="detail">
                  <ion-label class="bold_label">{{nombreDemande}}</ion-label>
                  <ion-label class="small_label">Demande</ion-label>

                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <div class="flex_div">
                <div class="round_div">
                  <ion-icon name="checkmark-done-circle"></ion-icon>
                </div>
                <div class="detail">
                  <ion-label class="bold_label">{{donRecu}}</ion-label>
                  <ion-label class="small_label">Don Reçu</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="list_div" *ngIf ="userConnect.type==='user'">
        <ion-label (click)="detailUser()">Modifier le profil</ion-label>
        <ion-icon name="information-circle" (click)="detailUser()"></ion-icon>
      </div>

      <div class="list_div">
        <ion-label (click)="editPassword()">Changer le mot de passe</ion-label>
        <ion-icon name="keypad" (click)="editPassword()"></ion-icon>
      </div>
    </div>
  </div>
  
</ion-content>
