<app-menu></app-menu>
<app-header></app-header>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div class="page-wrapper bg">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title txt1"><b>ELEVES</b></h4>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title txt1">Liste des eleves</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 txt">#</th>
                                            <th class="border-top-0 txt">Nom & Prenom</th>
                                            <th class="border-top-0 txt">Classe</th>
                                            <th class="border-top-0 txt">Nom ecole</th>
                                            <th class="border-top-0 txt">contact ecole</th>
                                            <th class="border-top-0 txt">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let list of listDemande">
                                            <td>{{list?.id_demande}}</td>
                                            <td>{{list?.nom_eleve}}</td>
                                            <td>{{list?.classe}}</td>
                                            <td>{{list?.nom_ecole}}</td>
                                            <td>{{list?.tel_ecole}}</td>
                                            <td> 
                                                <i class=" fas fa-info-circle " aria-hidden="true" [routerLink]="['/detaileleve',list.id_demande]"></i>&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center"> 2022 © Copyright Mohamed L Kone & Thomas Cisse <a
                    href="https://www.hubscolaire.com/">&nbsp; hubscolaire.com</a>
            </footer>
        </div>
    </div>
