<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-img [routerLink]="['/apropos']" class="logo" slot="start" src="assets/images/hub.png"></ion-img>
    <ion-icon slot="end" name="notifications-circle"></ion-icon>
    <ion-icon color="warning" slot="end" name="log-in" (click)="onLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-img class="demande" src="assets/images/don.png"></ion-img>
  </div>

  <ion-card>
    <ion-card-content>
         <ion-img class="profile" src="{{photo}} + {{userConnect.id_user}}"></ion-img>
      <ion-item>
        <ion-label><b>Nom et Prénom : </b> {{userConnect?.nom_complet}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Login : </b> {{userConnect?.login_user}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Téléphone : </b>{{userConnect?.tel_user}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Adresse : </b> {{userConnect?.adresse_user}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-button [routerLink]="['/edit-profil', userConnect?.id_user]">Modifier le profil</ion-button>
</ion-content>
