<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-img [routerLink]="['/apropos']" class="logo" slot="start" src="assets/images/hub.png"></ion-img>
    <ion-icon class="titre" slot="end" name="notifications-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h4>LISTE DES ELEVES
        <ion-icon name="document-text"></ion-icon>
      </h4>
      <h6>{{userConnect?.nom_complet}}</h6>
      <ion-searchbar  [(ngModel)]="filterTerm" animated="true" placeholder="Recherche"></ion-searchbar>
    </ion-card-header>
    <ion-grid >
      <ion-list>
        <ion-row >
          <ion-col class="titre2"><b>Nom & Prénom</b></ion-col>
          <ion-col class="titre2"> <b>Classe</b> </ion-col>
          <ion-col class="titre2"><b>Action</b>  </ion-col>
        </ion-row>
     </ion-list>
  
      <ion-row *ngFor="let list of demandeUserR |filter:filterTerm">
        <ion-col>{{list?.nom_eleve}}</ion-col>
        <ion-col>{{list?.classe}}</ion-col>
        <ion-col>
          <ion-icon [routerLink]="['/detail-eleve',list?.id_demande]" class="info"name="information-circle"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>