ion-header{
    position: absolute;
}
ion-toolbar{
    --backgroung: transparent;
    --opacity: 0%  
}
.titre{
    color: #005d99 ;
    width: 30px;
    height: 30px;
}
.logo{
    width: 30px;
    height: 30px;
}

ion-content{
    --background: #ECF7FF;

    ion-card{
        --background: #ECF7FF;
        margin-top: 80px;

        h4{
            color: #005d99;
            text-align: center;

            ion-icon{
                font-size: 30px;
            }
        }
        h6{
            font-weight: 600;
            color: #ddb307;
            font-size: 10px;
            text-align: center;
        }
    }
    ion-item{
        --background: #ECF7FF;
    }
    ion-button{
        display: block;
        margin: 20px auto;
        width: 200px;
        --background:#005d99;
        color: #ddb307;
    }

    .info {
        color: #005d99;
        font-size: 18px;
    }
    .titre2{
        color: #005d99;
    }
}