<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-img [routerLink]="['/apropos']" class="logo" slot="start" src="assets/images/hub.png"></ion-img>
    <ion-icon class="titre" slot="end" name="notifications-circle"></ion-icon>
    <ion-icon class="titre" color="warning" slot="end" name="log-in" (click)="onLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-img class="demande" src="assets/images/don.png"></ion-img>
  </div>
  <ion-card>
    <ion-grid >
      <ion-list>
        <ion-row >
          <ion-col class="titre2"><b>Nom & Prénom</b></ion-col>
          <ion-col class="titre2"> <b>Classe</b> </ion-col>
          <ion-col class="titre2"><b>Action</b>  </ion-col>
        </ion-row>
     </ion-list>
  
      <ion-row *ngFor="let list of demandeUserR">
        <ion-col>{{list?.nom_eleve}}</ion-col>
        <ion-col>{{list?.classe}}</ion-col>
        <ion-col>
          <ion-icon class="info"name="information-circle"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>