ion-content{
    --background: #ECF7FF;

    .titre{
        color: #005d99;
        font-size: 30px;
    }
}
.main_content_div{
    width: 100%;

    .menu_btn{
        position: absolute;
        top: 40px;
        left: 10;
    }
    ion-label{
        display: block;
    }
    .user_div{
        padding: 20px;
        width: 100%;
        height: 260px;
        background: linear-gradient(to right ,#ECF7FF, #005d99);
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    .first_div{
        padding-top: 50px;
        .username{
            font-size: 18px;
            color: #005d99;
            font-weight: 600;
        }
    }
    .user_back{
        height: 120px;
        width: 120px;
        border: 3px solid #ddb307;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 7px;
    }
    .content_div{
        background: #ECF7FF;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-top: -90px;
        padding: 20px;
        padding-top: 50px;

        .details{
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            padding: 10px;
            ion-grid{
                padding: 0;
                ion-col{
                    padding: 10px;
                }
                .flex_div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .detail{
                        padding-left: 5px;
                        .bold_label{
                            font-weight: 600;
                            font-size: 16px;
                            color: #ddb307;
                        }
                        .small_label{
                            font-size: 14px;
                            color: #005d99;

                        } 
                    }
                }
            }
        }
        .list_div{
            display: flex;
            justify-content: center;
            border-radius: 5px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            margin-top: 20px;
            padding: 15px;
            color: #ddb307;
            background: #005d99;
            font-weight: 700;
        }
    }
}