<app-menu></app-menu>
<app-header></app-header>
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title txt1">DON</h4>
              <div class="">
                <button type="button" class="btn btn1" routerLink="/gestionDon">
                  <i class=" fas fa-chevron-left" aria-hidden="true"></i>&nbsp;
                  <b>Retour</b>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg">
          <div class="row">
            <div class="col-lg-9 bloc bloc1">
              <div class="card">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="saveDon()" enctype="multipart/form-data">
                  <div class="card-body">
                    <h4 class="card-title txt">Ajouter un don</h4>
                    <div class="form-group row">
                      <label
                        class="col-sm-3 text-end control-label col-form-label txt"
                        >Libelle</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Libelle"
                          autocomplete="off"
                          name="libelle_don" formControlName="libelle_don" required
                        />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        class="col-sm-3 text-end control-label col-form-label txt"
                        >Niveau</label
                      >
                      <div class="col-sm-9">
                        <select formControlName="niveau" required class="form-control">
                          <option disabled value="">Selectionner</option>
                          <option *ngFor= "let niveau of niveauR">{{niveau?.libelle_niveau}}</option>
                        </select>

                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        class="col-sm-3 text-end control-label col-form-label txt"
                        >Categorie</label
                      >
                      <div class="col-sm-9">
                        <select formControlName="categorie" required class="form-control">
                          <option disabled value="">Selectionner</option>
                          <option *ngFor="let cat of cateR">{{cat?.libelle_cat}}</option>
                        </select>

                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        class="col-sm-3 text-end control-label col-form-label txt"
                        >Photo</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="file"
                          class="form-control"
                          name="photo_don" formControlName="photo_don"
                           required (change)="onFileChanged($event)" 
                           accept="image/png, image/jpeg"
                        />
                      </div>
                    </div>
                     
                  </div>
                  <div class="bouton">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary btn2" [disabled]="!form.valid">
                        <b> ENREGISTRER</b>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
        </div>
      </div>
    </div>
