<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="dessin" src="assets/images/dessin.png"></ion-img>

  <ion-card>
    <ion-icon name="people"></ion-icon>
    <form [formGroup]="form" (ngSubmit)="saveUser()" enctype="multipart/form-data">
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input type="text" autocomplete="off" name="nom_user" formControlName="nom_user" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Prénom</ion-label>
          <ion-input type="text" autocomplete="off" name="prenom_user" formControlName="prenom_user" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date de Naissance</ion-label>
          <ion-input type="date" autocomplete="off" name="datenaiss" formControlName="datenaiss" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Genre</ion-label>
          <ion-select formControlName="genre" required>
            <ion-select-option [value]="Homme" name="genre" >Homme</ion-select-option>
            <ion-select-option [value]="Femme" name="genre" >Femme</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="text" autocomplete="off" name="email_user" formControlName="email_user" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nom d'utilisateur</ion-label>
          <ion-input type="text" autocomplete="off" name="login_user" formControlName="login_user" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" name="password_user" formControlName="password_user" maxlength="10" pattern="(?=.*\d).{6,}" required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input type="number" autocomplete="off" name="tel_user" formControlName="tel_user" required></ion-input>
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">Adresse</ion-label>
          <ion-input type="text" autocomplete="off" name="adresse_user" formControlName="adresse_user" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom-file-upload">
            Choisir une photo
            <input type="file" (change)="onFileChanged($event)" accept="image/png, image/jpeg" formControlName="photo"/>
          </ion-label>
        </ion-item>
        
        <ion-button type="submit" class="btn1" [disabled]="!form.valid">VALIDER</ion-button>
    </form>
          <p>Vous avez déjà un compte <br><a [routerLink]="['/login']">CONNECTEZ-VOUS</a></p>
  </ion-card>

</ion-content>
