ion-header{
    position: absolute;
}
ion-toolbar{
    --backgroung: transparent;
    --opacity: 0%  
}
ion-icon{
    color: #005d99 ;
    width: 30px;
    height: 30px;
}
ion-content{
    --background: #ECF7FF;

    .demande{
        margin: 80px auto 0 auto;
        width: 250px;
    }

    .text{
        text-align: center;
        margin-top: 20px;
    }
    ion-button{
        display: block;
        margin: 20px auto;
        width: 100px;
        --background:#005d99 ;
        color: #ddb307;

    }

    ion-card{
        --background: #ECF7FF;
    }
    .image{
        width:100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
}