<!--Login.html-->
<div class="container-fluid ">
    <div class="row contenair">
        <div class="col-lg-1 col-xlg-3 col-md-12 " ></div>
        <div class="row col-lg-10 col-xlg-9 col-md-12 content ">
            <div class="col-lg-6 col-xl-6 col-md-12 cntr">
                <div class="card log">
                    <div class="card-body">
                        <h1><b>Mot de passe oublié</b></h1>
                       <!-- #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm)" -->
                        <form class="form-horizontal form-material form ">
                            <div class="form-group mb-4">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="p-0" style="color:#005D99"><b>Email</b> </label>
                                <div class="col-md-12 border-bottom p-0 input"> 
                                    <input type="text" class="form-control p-0 border-0 "> 
                                </div>
                            </div>
                            <div class=" btns">
                                <div class="form-group mb-4 contBtn" >
                                    <div class="col-sm-12 btn">
                                        <button type="submit" class="btn btnC1" routerLink="/auth">
                                            <b>Retour</b>  </button>
                                    </div>
                                </div>
                                <div class="form-group mb-4 contBtn" >
                                    <div class="col-sm-12 btn">
                                        <button type="submit" class="btn btnC2  "><b>Envoyer</b>  </button>
                                    </div>
                                </div>
                            </div>
                        </form>  
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div>