.bloc{
    position: center;
    margin-left: 150px;
}
.bouton{
    position: center;
    margin-left: 33%;
}

.bg{
    background-color:#005D99;
}
.txt{
    color:#005D99 ;
    font-size:18px;
    font-weight: bold;
}
.txt1{
    color:#005D99 ;
    font-size:25px;
    font-weight: bold;
}
.bloc1{
    background-color:white  ;
}
.btn1{
    margin-left: 50px;
    background-color: #ddb307;
    border-color:#ddb307;
    color:#005D99;
}
.bloc1{
    background-color:#ECF7FF;
}