<app-menu></app-menu>
<app-header></app-header>
    <div
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin5"
    data-sidebartype="full"
    data-sidebar-position="absolute"
    data-header-position="absolute"
    data-boxed-layout="full"
  >
    <div class="page-wrapper">
      <div class="page-breadcrumb bloc1">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title txt1">UTILISATEUR</h4>
            <div class="">
              <button type="button" class="btn btn1" routerLink="/gestionUtilisateur">
                <b>Retour</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg">
        <div class="row">
          <div class="col-lg-9 bloc">
            <div class="card">
              <form class="form-horizontal">
                <div class="card-body">
                  <h4 class="card-title txt">Modifications</h4>
                  <div class="form-group row">
                    <label
                      for="lname"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Nom</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="lname"
                        placeholder="nom"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="lname"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Prenom</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="password"
                        class="form-control"
                        id="lname"
                        placeholder="prenom"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="email1"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Login</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="email1"
                        placeholder="login"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="email1"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Mot de passe</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="email1"
                        placeholder="mot de passe"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="email1"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >telephone</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="email1"
                        placeholder="telephone"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="cono1"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Adresse</label
>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="cono1"
                        placeholder="adresse" />
                    </div>
                  </div>  
                </div>
                <div class="bouton">
                  <div class="card-body">
                    <button type="button" class="btn btn-primary btn2">
                      <b>Modifier</b>
                    </button>
                  </div>
                </div>
              </form>
            </div>
      </div>
    </div>
  </div>
