<app-menu></app-menu>
<app-header></app-header>
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
            data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="page-wrapper bg">
                <div class="page-breadcrumb bloc1">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="page-title txt1"><b>DONS</b></h4>
                        </div>
                        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                            <div class="d-md-flex">
                                <ol class="breadcrumb ms-auto"> 
                                </ol>
                                <a class="btn d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light txt2" routerLink="/adddon">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <b>Ajouter</b></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row" >
                        <div class="col-sm-12">
                            <div class="white-box bloc1">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ms-auto">
                                    <label>Trier par : </label>
                                    <select class="form-select shadow-none row border-top" [(ngModel)]="data_Don"  value="don" (change)="users($event)">
                                        <option value="don" checked><b>Don en attente</b></option>
                                        <option value="donC" checked><b>Don confirmé</b></option>
                                        <option value="demande"><b>Demande en attente</b></option>
                                        <option value="demandeE"><b>Demande Ecole en attente </b></option>
                                        <option value="demandeEC"><b>Demande Ecole confirmée </b></option>
                                        <option value="demandeUC"><b>Demande User confirmé </b></option>
                                    </select>
                                </div>
                            <div [ngSwitch]="data_Don" class="card-don">
                                <div class="table-responsive"  *ngSwitchCase="'don'">
                                    <h3 class="box-title txt1">Liste des dons en attentes</h3>
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 txt">#</th>
                                                <th class="border-top-0 txt">Photo</th>
                                                <th class="border-top-0 txt">Libelle</th>
                                                <th class="border-top-0 txt">Niveau</th>
                                                <th class="border-top-0 txt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let donA of donAttenteR | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}" >
                                                <td>{{donA.id_don}}</td>
                                                <td><img src="{{photo}} + {{donA.id_don}}"></td>
                                                <td>{{donA.libelle_don}}</td>
                                                <td>{{donA.niveau.libelle_niveau}}</td>
                                                <td> 
                                                    <i class=" fas fa-info-circle fat2" aria-hidden="true" [routerLink]="['/detaildon', donA.id_don]"></i>&nbsp;
                                                </td>
                                            </tr>
                                        
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls 
                                            previousLabel="Précedent"
                                            nextLabel="Suivant"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>

                                <div class="table-responsive"  *ngSwitchCase="'donC'">
                                    <h3 class="box-title txt1">Liste des dons confirmés</h3>
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 txt">#</th>
                                                <th class="border-top-0 txt">Photo</th>
                                                <th class="border-top-0 txt">Libelle</th>
                                                <th class="border-top-0 txt">Niveau</th>
                                                <th class="border-top-0 txt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let donC of donConfirmer | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}" >
                                                <td>{{donC.id_don}}</td>
                                                <td><img src="{{photo}} + {{donC.id_don}}"></td>
                                                <td>{{donC.libelle_don}}</td>
                                                <td>{{donC.niveau.libelle_niveau}}</td>
                                                <td> 
                                                    <i class=" fas fa-info-circle fat2" aria-hidden="true" [routerLink]="[]"></i>&nbsp;
                                                </td>
                                            </tr>
                                        
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls 
                                            previousLabel="Précedent"
                                            nextLabel="Suivant"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>

                                <div class="table-responsive" *ngSwitchCase="'demande'">
                                    <h3 class="box-title txt1">Liste des demandes en attentes</h3>
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 txt">#</th>
                                                <th class="border-top-0 txt">Photo</th>
                                                <th class="border-top-0 txt">Libelle</th>
                                                <th class="border-top-0 txt">Nom du Demandeur</th>
                                                <th class="border-top-0 txt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let demandeU of demandeAttenteR | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}" >
                                                <td>{{demandeU?.id_demande}}</td>
                                                <td><img src="{{photo}} + {{demandeU?.id_demande}}"></td>
                                                <td>{{demandeU?.don?.libelle_don}}</td>
                                                <td>{{demandeU?.user?.nom_user}} {{demandeU?.user?.prenom_user}}</td>
                                                <td>  
                                                    <i class=" fas fa-info-circle fat2" aria-hidden="true" [routerLink]="['/detailAttentedon', demandeU?.id_demande]"></i>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls 
                                            previousLabel="Précedent"
                                            nextLabel="Suivant"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>

                                <div class="table-responsive" *ngSwitchCase="'demandeE'">
                                    <h3 class="box-title txt1">Liste des demandes d'écoles en attentes</h3>
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 txt">#</th>
                                                <th class="border-top-0 txt">Photo</th>
                                                <th class="border-top-0 txt">Libelle</th>
                                                <th class="border-top-0 txt">Nom de l'établissement</th>
                                                <th class="border-top-0 txt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let demandeA of demandeEcoleAttenteR | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}" >
                                                <td>{{demandeA.id_demande}}</td>
                                                <td><img src="{{photo}} + {{demandeA?.id_demande}}"></td>
                                                <td>{{demandeA.don.libelle_don}}</td>
                                                <td>{{demandeA.ecole.nom_ecole}}</td>
                                                <td>  
                                                    <i class=" fas fa-info-circle fat2" aria-hidden="true" [routerLink]="['/attente-ecole', demandeA.id_demande]"></i>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls 
                                            previousLabel="Précedent"
                                            nextLabel="Suivant"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>

                                <div class="table-responsive" *ngSwitchCase="'demandeEC'">
                                    <h3 class="box-title txt1">Liste des demandes confirmées</h3>
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 txt">#</th>
                                                <th class="border-top-0 txt">Photo</th>
                                                <th class="border-top-0 txt">Libelle</th>
                                                <th class="border-top-0 txt">Nom de l'établissement</th>
                                                <th class="border-top-0 txt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let demandeCE of demandeConfirmerE | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}" >
                                                <td>{{demandeCE.id_demande}}</td>
                                                <td><img src="{{photo}} + {{demandeCE?.id_demande}}"></td>
                                                <td>{{demandeCE.don.libelle_don}}</td>
                                                <td>{{demandeCE.ecole.nom_ecole}}</td>
                                                <td>  
                                                    <i class=" fas fa-info-circle fat2" aria-hidden="true" [routerLink]="['/attente-ecole', demandeA.id_demande]"></i>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls 
                                            previousLabel="Précedent"
                                            nextLabel="Suivant"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>

                                <div class="table-responsive" *ngSwitchCase="'demandeUC'">
                                    <h3 class="box-title txt1">Liste des demandes d'utilisateur confirmées</h3>
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 txt">#</th>
                                                <th class="border-top-0 txt">Photo</th>
                                                <th class="border-top-0 txt">Libelle</th>
                                                <th class="border-top-0 txt">Nom de l'établissement</th>
                                                <th class="border-top-0 txt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let demandeUC of demandeConfirmerU | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}" >
                                                <td>{{demandeUC.id_demande}}</td>
                                                <td><img src="{{photo}} + {{demandeCE?.id_demande}}"></td>
                                                <td>{{demandeUC.don.libelle_don}}</td>
                                                <td>{{demandeUC.ecole.nom_ecole}}</td>
                                                <td>  
                                                    <i class=" fas fa-info-circle fat2" aria-hidden="true" [routerLink]="['/attente-ecole', demandeA.id_demande]"></i>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls 
                                            previousLabel="Précedent"
                                            nextLabel="Suivant"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center bloc1"> 2022 © Copyright Mohamed L Kone & Thomas Cisse  <a
                href="https://www.hubscolaire.com/">&nbsp; hubscolaire.com</a>
        </footer>
        </div>

    </div>