.bg{
    background-color:  #005D99;
}

.txt{
    color:#005D99 ;
    font-size:18px;
    font-weight: bold;
}
.txt1{
    color:#005D99 ;
    font-size:25px;
    font-weight: bold;
    margin-top: 15px;
}
.fat{
    color: red;
}
.txt2{
    color:white;
    background-color: #005D99;
    border: #005D99
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}