ion-header{
    position: absolute;
}
ion-toolbar{
    --backgroung: transparent;
    --opacity: 0%;
        ion-icon{
            color: #005d99;
            font-size: 30px;
        }

        ion-title{
            color: #005d99;
        }
    
}
ion-content{
    --background: #ECF7FF;

    .textinput{
        width: 100%;
        overflow: hidden;
        font-size: 15px;
        padding: 5px 0;
        margin: 5px 0;

        .ic{
            width: 26px;
            text-align: center;
            color: #005d99;
        }

        ion-input{
            font-size: 15px;
            width: 30px;
            float: left;
            margin: 0 10px;
        }
    }

    h1{
        color: #005d99;
    }

    ion-img{
        width: 100px;
        height: 100px;
        margin: 10px auto;
        display: block;
    }


    .btn1{
        --background:#005d99 ;
        color: #ddb307;
        display: block;
        width: 200px;
        margin: 20px auto;
        font-size: 20px;
        font-weight: 600;
    }
    p{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #005d99;
    }

    ion-card{
        --background: #ECF7FF;
        margin-top: 100px;
    }
    ion-item{
        --background: #ECF7FF;
    }
    ion-label{
        color: #005d99;
    }
}