ion-tab-bar{
    --background: #005d99;

    ion-tab-button{
        color: #ddb307;

        ion-icon{
            font-size: 30px;
        }

        ion-label{
            font-weight: 600;
            font-size: 15px;
        }
    }
}
