<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-icon slot="end" name="notifications-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img class="demande" src="assets/images/don.png"></ion-img>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-img class="image" src="{{photo}} + {{don_attente?.id_don}}"></ion-img>
      <div class="text">
        <h3><b>{{don_attente?.libelle_don}}</b></h3>
        <ion-label>Catégorie : {{don_attente?.categorie.libelle_cat}}</ion-label><br>
        <ion-label>Niveau : {{don_attente?.niveau.libelle_niveau}}</ion-label>
      </div>
      <ion-button class="btn1" type="submit" (click)="alertA()"><b>ANNULER</b></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
