.logo{
    width: 60px;
    height: 60px;
    margin: 0 0 0 70px;
}
.bloc1{
    background-color:#ECF7FF;
}
#notif{
    margin-right: 20px;
    font-size: 30px;
    color: #005d99;
}
span{
    color: #005d99;
}
#nav{
    background-color:#ddb307;
  }