.logo{
    width: 200px;
    height: 80px
}
.bloc1{
    background-color:#ECF7FF;
}
#notif{
    margin-right: 20px;
    font-size: 30px;
    color: #005d99;
}
span{
    color: #005d99;
}
#nav{
    background-color:#ddb307;
  }