<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="dessin" src="assets/images/dessin.png"></ion-img>

    <ion-card>
        
      <ion-card-content>
        <h1> Se Connectez</h1>
        <div>
        <form #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm)">
          <div class="textinput">
            <ion-item>
              <ion-icon class="ic" name="person"></ion-icon>
              <ion-input type="text" placeholder="Nom d'utilisateur" autocomplete="off" name="login" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="textinput">
            <ion-item>
              <ion-icon class="ic" name="lock-closed"></ion-icon>
              <ion-input type="password" placeholder="Mot de passe" name="password" ngModel required></ion-input>
            </ion-item>
          </div>
          <ion-button type="submit" class="btn1" [disabled]="loginForm.invalid">CONNEXION</ion-button>
        </form>
            <p>Vous n'avez pas de compte <br><a (click)="alertInscri()">INSCRIVEZ-VOUS</a></p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
