<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="dessin" src="assets/images/dessin.png"></ion-img>

    <ion-card>
        
      <ion-card-content>
        <ion-icon name="person-circle"></ion-icon>
        <div>
        <form #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm)">
          <ion-item>
            <ion-label position="floating" autocomplete="false">Nom d'utilisateur</ion-label>
            <ion-input type="text" autocomplete="false" name="login" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" autocomplete="false">Mot de passe</ion-label>
            <ion-input type="password" autocomplete="false" name="password" ngModel required></ion-input>
          </ion-item>
          
          <ion-button type="submit" class="btn1" [disabled]="loginForm.invalid">CONNEXION</ion-button>
        </form>
            <p>Vous n'avez pas de compte <br><a [routerLink]="['/register']">INSCRIVEZ-VOUS</a></p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
