ion-content{
    --background: #ECF7FF;

    .textinput{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;

        .ic{
            width: 26px;
            text-align: center;
            color: #005d99;
        }

        ion-input{
            font-size: 20px;
            width: 50px;
            float: left;
            margin: 0 10px;
        }
    }

    .dessin{
        margin-left: 30%;
    }

    h1{
        color: #005d99;
        float: left;
        font-size: 30px;
        font-weight: bold;
        border-bottom: 6px solid #005d99;
        margin-bottom: 50px;
        margin-top: 10px;
        padding: 13px 0;
    }

    .btn1{
        --background:#005d99 ;
        color: #ddb307;
        display: block;
        width: 130px;
        margin: 20px auto;
    }

    p{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #005d99;
    }

    ion-card{
        --background: #ECF7FF;
    }
    ion-item{
        --background: #ECF7FF;
    }
}
ion-header{
    position: absolute;
}
ion-toolbar{
    --backgroung: transparent;
    --opacity: 0%;
    ion-back-button{
        color: #005d99;
    }
}

    