<app-menu></app-menu>
<app-header></app-header>
    <div
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin5"
    data-sidebartype="full"
    data-sidebar-position="absolute"
    data-header-position="absolute"
    data-boxed-layout="full"
  >
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb bloc1 ">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title txt1">DONS</h4>
            <div class="">
              <button type="button" class="btn btn1" routerLink="/gestionDon">
                <b>Retour</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid bg">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
                       <!-- Column -->
                       <div class="col-lg-4 col-xlg-3 col-md-12 ">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="plugins/images/large/img1.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="plugins/images/users/genu.jpg"
                                                class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white mt-2">User Name</h4>
                                        <h5 class="text-white mt-2">info@myadmin.com</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box mt-5 d-md-flex">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>258</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>125</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>556</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
          <div class="col-lg-7 bloc ">
            <div class="card">
              <form class="form-horizontal">
                <div class="card-body">
                  <h4 class="card-title txt">Modifications</h4>
                  <div class="form-group row">
                    <label
                      for="fname"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Libelle</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="fname"
                        placeholder="libelle"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="lname"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Niveau</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="lname"
                        placeholder="niveau"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="lname"
                      class="col-sm-3 text-end control-label col-form-label txt"
                      >Categorie</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="lname"
                        placeholder="categorie"
                      />
                    </div>
                  </div>
                </div>
                <div class="bouton">
                  <div class="card-body">
                    <button type="button" class="btn btn-primary btn2">
                     <b>Modifier</b>
                    </button>
                  </div>
                </div>
              </form>
            </div>
      </div>
    
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
