<app-menu></app-menu>
<app-header></app-header>
    <div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div class="page-wrapper bg">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title txt1"><b>NIVEAU</b></h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto"> 
                            </ol>
                            <a href="/addniveau"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light txt2 dec">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <b>Ajouter</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="white-box">
                            <h3 class="box-title txt1">Liste des niveaux</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap"> 
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 txt">#</th>
                                            <th class="border-top-0 txt">Libelle</th>
                                            <th class="border-top-0 txt">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor= "let niveau of niveauR | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}">
                                            <td>{{niveau?.id_niveau}}</td>
                                            <td>{{niveau?.libelle_niveau}}</td>
                                            <td>  <i class=" fa fa-edit fat2" aria-hidden="true" [routerLink]="['/editNiveau', niveau?.id_niveau]"></i>&nbsp;
                                                <i class="fa fa-trash fat" aria-hidden="true" (click)="alertConfirmation(niveau?.id_niveau)"></i>&nbsp;
                                                <i class=" fas fa-info-circle  fat2" aria-hidden="true" [routerLink]="['/detailNiveau', niveau?.id_niveau]"></i>&nbsp;
                                            </td>   
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-center">
                                    <pagination-controls 
                                        previousLabel="Précedent"
                                        nextLabel="Suivant"
                                        (pageChange)="onTableDataChange($event)">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 bloc">
                        <div class="card">
                          <form class="form-horizontal" [formGroup]="form" (ngSubmit)="saveNiveau()">
                            <div *ngIf="!submitted" class="card-body">
                              <h4 class="card-title txt">Ajouter un niveau</h4>
                              <div class="form-group row">
                                <label
                                  class="col-sm-3 text-end control-label col-form-label txt"
                                  >Libelle</label
                                >
                                <div class="col-sm-9">
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="libelle"
                                    autocomplete="off"
                                    name="libelle_niveau" formControlName="libelle_niveau" required
                                  />
                                </div>
                              </div>
                               
                            </div>
                            <div class="bouton">
                              <div class="card-body">
                                <button type="submit" class="btn btn-primary btn2" [disabled]="!form.valid">
                                  <b> Ajouter</b>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                  </div>
                </div>
            </div>
            </div>
            <footer class="footer text-center"> 2022 © Copyright Mohamed L Kone & Thomas Cisse  <a
                    href="https://www.hubscolaire.com/">&nbsp; hubscolaire.com</a>
            </footer>
        </div>
    </div>
   

