<app-menu></app-menu>
<app-header></app-header>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper bg">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title txt1"><b>NIVEAU</b></h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto"> 
                            </ol>
                            <a href="/addniveau"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light txt2 dec">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <b>Ajouter</b></a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title txt1">Liste des niveaux</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap"> 
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 txt">#</th>
                                            <th class="border-top-0 txt">Libelle</th>
                                            <th class="border-top-0 txt">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor= "let niveau of niveauR">
                                            <td>{{niveau?.id_niveau}}</td>
                                            <td>{{niveau?.libelle_niveau}}</td>
                                            <td>  <i class=" fa fa-edit " aria-hidden="true" [routerLink]="['/editNiveau', niveau?.id_niveau]"></i>&nbsp;
                                                <i class="fa fa-trash fat" aria-hidden="true" (click)="alertConfirmation(niveau?.id_niveau)"></i>&nbsp;
                                                <i class=" fas fa-info-circle " aria-hidden="true" [routerLink]="['/detailNiveau', niveau?.id_niveau]"></i>&nbsp;
                                            </td>   
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
              
            
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2022 © Copyright Mohamed L Kone & Thomas Cisse  <a
                    href="https://www.hubscolaire.com/">&nbsp; hubscolaire.com</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
   

