<app-menu></app-menu>
<app-header></app-header>
    <div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div class="page-wrapper bg">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title txt1"><b>CATEGORIE</b></h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="white-box">
                            <h3 class="box-title txt1">Liste des categories</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap"> 
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 txt">#</th>
                                            <th class="border-top-0 txt">Libelle</th>
                                            <th class="border-top-0 txt">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor= "let cat of cateR | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}">
                                            <td>{{cat?.id_cat}}</td>
                                            <td>{{cat?.libelle_cat}}</td>
                                            <td>  <i class=" fa fa-edit " aria-hidden="true" [routerLink]="['/editcategorie',cat?.id_cat]"></i>&nbsp;
                                                <i class="fa fa-trash fat" aria-hidden="true" (click)="alertConfirmation(cat?.id_cat)"></i>&nbsp;
                                                <i class=" fas fa-info-circle " aria-hidden="true" [routerLink]="['/detailcategorie',cat?.id_cat]"></i>&nbsp;
                                            </td>   
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-center">
                                  <pagination-controls 
                                      previousLabel="Précedent"
                                      nextLabel="Suivant"
                                      (pageChange)="onTableDataChange($event)">
                                  </pagination-controls>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 card">
                        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="saveCat()">
                          <div class="card-body">
                            <h4 class="card-title txt">Ajouter une nouvelle Categorie</h4>
                            <div class="form-group row">
                              <label
                                class="col-sm-3 text-end control-label col-form-label txt"
                                >Libelle</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="libelle"
                                  autocomplete="off"
                                  name="libelle_cat" formControlName="libelle_cat" required
                                />
                              </div>
                            </div>
                             
                          </div>
                          <div class="bouton">
                            <div class="card-body">
                              <button type="submit" class="btn btn-primary btn2" [disabled]="!form.valid">
                                <b> Ajouter</b>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                </div>
            </div>
            </div>
        </div>
    </div>
   

