.bg{
    background-color:  #005D99;
}

.txt{
    color:#005D99 ;
    font-size:18px;
    font-weight: bold;
}
.txt1{
    color:#005D99 ;
    font-size:25px;
    font-weight: bold;
}
.fat{
    color: red;
}
.txt2{
    color:white;
    background-color: #005D99;
    border: #005D99 
}
.blc{
    position:absolute;
}

.bloc{
    position: center;
    margin-left: 150px;
}
.bouton{
    display: block;
    margin: 0 auto;
}
.btn2{
    background-color:#005D99;
    width: 300px;
    color:#ddb307;
}
.bg{
    background-color:#005D99;
}
.bloc1{
    background-color:white;
}