<app-menu></app-menu>
<app-header></app-header>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div class="page-wrapper bg">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title txt1"><b>ECOLES</b></h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto"> 
                            </ol>
                            <a href="" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light txt2">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <b>Ajouter</b></a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title txt1">Liste des ecoles</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 txt">#</th>
                                            <th class="border-top-0 txt">Nom</th>
                                            <th class="border-top-0 txt">adresse</th>
                                            <th class="border-top-0 txt">Tel</th>
                                            <th class="border-top-0 txt">Email</th>
                                            <th class="border-top-0 txt">Site</th>
                                            <th class="border-top-0 txt">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor = "let ecole of ecole">
                                            <td>{{ecole.id_ecole}}</td>
                                            <td>{{ecole.nom_ecole}}</td>
                                            <td>{{ecole.adresse_ecole}}</td>
                                            <td>{{ecole.tel_ecole}}</td>
                                            <td>{{ecole.email_ecole}}</td>
                                            <td>{{ecole.site_ecole}}</td>
                                            <td>  <i class=" fa fa-edit " aria-hidden="true" [routerLink]="['/editecole', ecole.id_ecole]"></i>&nbsp;
                                                <i class="fa fa-trash fat" aria-hidden="true"  (click)="deleteEcole(e.id_ecole)"></i>&nbsp;
                                                <i class=" fas fa-info-circle " aria-hidden="true" [routerLink] = "['/detailecole', ecole.id_ecole]  "></i>&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center"> 2022 © Copyright Mohamed L Kone & Thomas Cisse <a
                    href="https://www.hubscolaire.com/">&nbsp; hubscolaire.com</a>
            </footer>
        </div>
    </div>
