<app-menu></app-menu>
<app-header></app-header>
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bloc1">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title txt1">CATEGORIES</h4>
              <div class="">
                <button type="button" class="btn btn1" routerLink="/gestioncategorie">
                  <b>Retour</b>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid bg">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-lg-9 bloc">
              <div class="card">
                  <div class="card-body">
                    <h4 class="card-title txt">Modifications</h4>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-3 text-end control-label col-form-label txt"
                        >Libelle</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="fname"
                          autocomplete="off"
                          [(ngModel)]="catR.libelle_cat"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="bouton">
                    <div class="card-body">
                      <button (click)="updateCat()" class="btn btn-primary btn2" >
                       <b> Modifier</b>
                      </button>
                    </div>
                  </div>
              </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
