<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-icon slot="end" name="notifications-circle"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="logo">
    <ion-img src="assets/images/hub.png"></ion-img>
  </div>

  <div class="description">
    <p>Est une application de don de manuel scolaire.
      Elle vous permet de pouvoir faire des dons et les recevoir égalements.</p>

      <p>L'application a été dévoloppez par deux jeunes DEV apprenants à <span>ORANGE DIGITAL KALANSO</span></p>
    <p>Pour plus d'info sur l'application, allez-y sur notre 
       <a href="http://malla223.github.io" target="_blank">SITE OFFICIEL.</a>
      </p>
  </div>

</ion-content>
