ion-header{
    position: absolute;
}
ion-toolbar{
    --backgroung: transparent;
    --opacity: 0%  
}
ion-icon{
    color: #005d99 ;
    width: 30px;
    height: 30px;
}
.logo{
    width: 100px;
}
.logoU{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: 2px solid #005d99;
    background-repeat: no-repeat;
}
ion-content{
    --background: #ECF7FF;

    ion-card-content{
        display: block;
        justify-content: center;
    }

    ion-segment{
        margin-top: 70px;
    }
    ion-card{
        --background: #ECF7FF;
        border-radius: 10px;
    }
    h3{
        text-align: center;
        color: #ddb307;
    }
    .image{
        width:60px;
        height: 60px;
    }
    ion-label{
        color: #005d99 ;
        font-size: 12px;

        span{
            color: black;
            font-size: 10px;
        }
    }
    .recu{
        color: #ddb307;
        margin-bottom: 10px;
        font-size: 10px;
        text-align: center;
    }
}