ion-header{
    position: absolute;
}
ion-toolbar{
    --backgroung: transparent;
    --opacity: 0%;
        ion-icon{
            color: #005d99;
            font-size: 30px;
        }

        ion-title{
            color: #005d99;
        }
    
}
ion-content{
    --background: #ECF7FF;
    h1{
        color: #005d99;
    }

    .img{
        width: 100px;
        height: 100px;
        margin: 10px auto;
        display: block;
        color: #005d99;
    }


    .btn1{
        --background:#005d99 ;
        color: #ddb307;
        display: block;
        width: 130px;
        margin: 20px auto;
        font-weight: 700;
    }
    p{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #005d99;
    }

    ion-card{
        --background: #ECF7FF;
        margin-top: 100px;
    }
    ion-item{
        --background: #ECF7FF;
    }
    ion-label{
        color: #005d99;
    }
}