<app-menu></app-menu>
<app-header></app-header>
    <div
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin5"
    data-sidebartype="full"
    data-sidebar-position="absolute"
    data-header-position="absolute"
    data-boxed-layout="full"
    >
    <div class="page-wrapper">
      <div class="page-breadcrumb bloc1">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title txt1">DETAIL ADMINISTRATEUR</h4>
            <button type="button" class="btn btn-warning" class="btnR" routerLink="/gestionAdmin">
              <i class=" fas fa-chevron-left" aria-hidden="true"></i>&nbsp;
              RETOUR
            </button>
          </div>
        </div>
      </div>
      <div class="container-fluid bg">
        <div class="row">
          <div class="col-sm-4">
            <div class="white-box">
                <div class="user-bg">
                    <div class="overlay-box">
                        <div class="user-content">
                            <img src="{{photo}} + {{detailAmin?.id_admin}}">
                        </div>
                    </div>
                </div>
                <div class="user-btm-box mt-5 d-md-flex">
                    <div class="text-center">
                        <h4><b>Email : </b>{{detailAmin?.email_admin}}</h4>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card">
              <form class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label
                      for="fname"
                      class=" control-label col-form-label txt"
                      ><b>Nom : </b> {{detailAmin?.nom_admin}} </label
                    >
                    <div class="col-sm-9">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="fname"
                      class=" control-label col-form-label txt"
                      ><b>Prenom : </b> {{detailAmin?.prenom_admin}} </label
                    >
                    <div class="col-sm-9">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="fname"
                      class=" control-label col-form-label txt"
                      ><b>Téléphone : </b>  {{detailAmin?.tel_admin}}</label
                    >
                    <div class="col-sm-9">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="fname"
                      class=" control-label col-form-label txt"
                      ><b>Login : </b> {{detailAmin?.login_admin}} </label
                    >
                    
                  </div>
                  <div class="form-group row">
                    <label
                      for="fname"
                      class=" control-label col-form-label txt"
                      ><b>Genre : </b> {{detailAmin?.genre}} </label
                    >
                    
                  </div>
                  <div class="form-group row">
                    <label
                      for="fname"
                      class="control-label col-form-label txt"
                      ><b>Type : </b>  {{detailAmin?.type}}</label
                    >
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
