<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Modifier le mot de passe</ion-title>
    <ion-icon slot="end" (click)="fermer()" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="assets/images/edit-password.png"></ion-img>
    <form [formGroup]="form" (ngSubmit)="modPassword()">
      <ion-item>
        <ion-label position="floating" autocomplete="false">Ancien mot de passe</ion-label>
        <ion-input type="password" autocomplete="false" name="password_user" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" autocomplete="false">Nouveau Mot de passe</ion-label>
        <ion-input type="password" autocomplete="false" name="password_user" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" autocomplete="false">Retaper à nouveau</ion-label>
        <ion-input type="password" autocomplete="false" name="password_user" ></ion-input>
      </ion-item>
      
      <ion-button type="submit" class="btn1">MODIFIER</ion-button>
  </form>
  </ion-card>

</ion-content>
